In [16]:
import random
import pandas as pd
import numpy as np

In [17]:
class freshDeck:
    def __init__(self):
        suits = ['Spades','Hearts','Diamonds','Clubs']
        values = ['2','3','4','5','6','7','8','9','10','J','Q','K','A']

        cards = []

        for suit in suits:
            for value in values:
                cards.append([value,suit])
        cards = pd.DataFrame(cards,columns={'Value','Suit'})
        self.table = cards

In [11]:
class shuffleDeck:
    def __init__(self,cards):
        shuffled = cards.sample(frac = 1).reset_index()
        shuffled = shuffled.drop(columns='index')
        self.table = shuffled

In [12]:
class dealCards:
    def __init__(self,player_count):
        global deck
        players_cards = []
        for player in range(1,player_count+1):
            for x in range(2):
                drop_indices = np.random.choice(deck.index, 1, replace=False)
                ind = int(drop_indices)
                pick = deck.loc[ind]
                deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
                players_cards.append([player,pick['Value'],pick['Suit']])
        players_cards = pd.DataFrame(players_cards,columns={'Player','Value','Suit'})
        self.table = players_cards

In [9]:
class deckStats:
    def __init__(self,deck):  
        suitGroups = deck.groupby('Suit')
        valueGroups = deck.groupby('Value')

        suitStats = []
        valueStats = []
        for x in suitGroups.groups:
            s = suitGroups.get_group(x)
            percentage = round((len(s)/len(deck)) * 100,1)
            amount = str(len(s))+' / 13'
            suitStats.append([x,percentage,amount])
        for x in valueGroups.groups:
            s = valueGroups.get_group(x)
            percentage = round((len(s)/len(deck)) * 100,1)
            amount = str(len(s))+' / 4'
            valueStats.append([x,percentage,amount])
        statsoverall =  suitStats + valueStats
        statsoverall = pd.DataFrame(statsoverall).sort_values(by=1,ascending=False).T
        statsoverall.columns = statsoverall.iloc[0]
        statsoverall = statsoverall[1:]
        self.table = statsoverall

In [13]:
class flop:
    def __init__(self):
        global deck
        flop_cards = []
        for x in range(3):
            drop_indices = np.random.choice(deck.index, 1, replace=False)
            ind = int(drop_indices)
            pick = deck.loc[ind]
            deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
            flop_cards.append([pick['Value'],pick['Suit']])
        flop_cards = pd.DataFrame(flop_cards,columns={'Value','Suit'})
        self.table = flop_cards

In [6]:
class turn:
    def __init__(self):
        global deck
        turn_card = []
        for x in range(1):
            drop_indices = np.random.choice(deck.index, 1, replace=False)
            ind = int(drop_indices)
            pick = deck.loc[ind]
            deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
            turn_card.append([pick['Value'],pick['Suit']])
        turn_card = pd.DataFrame(turn_card,columns={'Value','Suit'})
        self.table = turn_card

In [7]:
class river:
    def __init__(self):
        global deck
        river_card = []
        for x in range(1):
            drop_indices = np.random.choice(deck.index, 1, replace=False)
            ind = int(drop_indices)
            pick = deck.loc[ind]
            deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
            river_card.append([pick['Value'],pick['Suit']])
        river_card = pd.DataFrame(river_card,columns={'Value','Suit'})
        self.table = river_card

## Creates new deck, shuffles, and deals hands

In [18]:
player_count = 6
fresh = freshDeck().table
deck = shuffleDeck(fresh).table
dealt = dealCards(player_count).table
deckStatistics = deckStats(deck).table

hands = dealt.groupby('Player')
yourHand = hands.get_group(1)
display(yourHand)
#display(deckStatistics)

   Player Value    Suit
0       1     9  Hearts
1       1     7  Hearts

## The Flop

In [19]:
theFlop = flop().table

deckStatistics = deckStats(deck).table
display(yourHand,theFlop)
#display(deckStatistics)

   Player Value    Suit
0       1     9  Hearts
1       1     7  Hearts

  Value    Suit
0     5   Clubs
1     5  Hearts
2     2  Spades

## The Turn

In [20]:
theTurn = turn().table

tf = [theFlop,theTurn]
tf = pd.concat(tf).reset_index().drop('index',axis=1)

deckStatistics = deckStats(deck).table
display(yourHand,tf)
#display(deckStatistics)

   Player Value    Suit
0       1     9  Hearts
1       1     7  Hearts

  Value    Suit
0     5   Clubs
1     5  Hearts
2     2  Spades
3     9   Clubs

## The River

In [21]:
theRiver = river().table

final = [tf,theRiver]
final = pd.concat(final).reset_index().drop('index',axis=1)

deckStatistics = deckStats(deck).table
display(yourHand,final)
#display(deckStatistics)

   Player Value    Suit
0       1     9  Hearts
1       1     7  Hearts

  Value    Suit
0     5   Clubs
1     5  Hearts
2     2  Spades
3     9   Clubs
4     Q  Hearts