In [298]:
import random
import pandas as pd
import numpy as np

In [299]:
class freshDeck:
    def __init__(self):
        suits = ['Spades','Hearts','Diamonds','Clubs']
        names = ['2','3','4','5','6','7','8','9','10','J','Q','K','A']

        cards = []

        for suit in suits:
            for name in names:
                cards.append([name,suit])
        cards = pd.DataFrame(cards,columns={'Name','Suit'})
        self.table = cards

In [300]:
class shuffleDeck:
    def __init__(self,cards):
        shuffled = cards.sample(frac = 1).reset_index()
        shuffled = shuffled.drop(columns='index')
        self.table = shuffled

In [301]:
class dealCards:
    def __init__(self,player_count):
        global deck
        players_cards = []
        for player in range(1,player_count+1):
            for x in range(2):
                drop_indices = np.random.choice(deck.index, 1, replace=False)
                ind = int(drop_indices)
                pick = deck.loc[ind]
                deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
                players_cards.append([player,pick['Name'],pick['Suit']])
        players_cards = pd.DataFrame(players_cards,columns={'Player','Name','Suit'})
        self.table = players_cards

In [312]:
class deckStats:
    def __init__(self,deck):  
        suitGroups = deck.groupby('Suit')
        nameGroups = deck.groupby('Name')

        suitStats = []
        nameStats = []
        for x in suitGroups.groups:
            s = suitGroups.get_group(x)
            percentage = round((len(s)/len(deck)) * 100,1)
            amount = str(len(s))+' / 13'
            suitStats.append([x,percentage,amount])
        for x in nameGroups.groups:
            s = nameGroups.get_group(x)
            percentage = round((len(s)/len(deck)) * 100,1)
            amount = str(len(s))+' / 4'
            nameStats.append([x,percentage,amount])
        statsoverall =  suitStats + nameStats
        statsoverall = pd.DataFrame(statsoverall).sort_values(by=1,ascending=False).T
        statsoverall.columns = statsoverall.iloc[0]
        statsoverall = statsoverall[1:]
        self.table = statsoverall

In [309]:
class flop:
    def __init__(self):
        global deck
        flop_cards = []
        for x in range(3):
            drop_indices = np.random.choice(deck.index, 1, replace=False)
            ind = int(drop_indices)
            pick = deck.loc[ind]
            deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
            flop_cards.append([pick['Name'],pick['Suit']])
        flop_cards = pd.DataFrame(flop_cards,columns={'Name','Suit'})
        self.table = flop_cards

In [310]:
class turn:
    def __init__(self):
        global deck
        turn_card = []
        for x in range(1):
            drop_indices = np.random.choice(deck.index, 1, replace=False)
            ind = int(drop_indices)
            pick = deck.loc[ind]
            deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
            turn_card.append([pick['Name'],pick['Suit']])
        turn_card = pd.DataFrame(turn_card,columns={'Name','Suit'})
        self.table = turn_card

In [403]:
class river:
    def __init__(self):
        global deck
        river_card = []
        for x in range(1):
            drop_indices = np.random.choice(deck.index, 1, replace=False)
            ind = int(drop_indices)
            pick = deck.loc[ind]
            deck = deck.drop([ind],axis=0).reset_index().drop(columns='index')
            river_card.append([pick['Name'],pick['Suit']])
        river_card = pd.DataFrame(river_card,columns={'Name','Suit'})
        self.table = river_card

## Creates new deck, shuffles, and deals hands

In [401]:
player_count = 6
fresh = freshDeck().table
deck = shuffleDeck(fresh).table
dealt = dealCards(player_count).table
deckStatistics = deckStats(deck).table

hands = dealt.groupby('Player')
yourHand = hands.get_group(1)
display(yourHand)
#display(deckStatistics)

   Player Name      Suit
0       1    A  Diamonds
1       1    A     Clubs

## The Flop

In [367]:
theFlop = flop().table

deckStatistics = deckStats(deck).table
display(yourHand,theFlop)
#display(deckStatistics)

   Player Name      Suit
0       1   10  Diamonds
1       1    6    Spades

  Name    Suit
0    3   Clubs
1   10  Spades
2    K  Hearts

## The Turn

In [402]:
theTurn = turn().table

tf = [theFlop,theTurn]
tf = pd.concat(tf).reset_index().drop('index',axis=1)

deckStatistics = deckStats(deck).table
display(yourHand,tf)
#display(deckStatistics)

   Player Name      Suit
0       1    A  Diamonds
1       1    A     Clubs

  Name    Suit
0    3   Clubs
1   10  Spades
2    K  Hearts
3    Q  Hearts

## The River

In [404]:
theRiver = river().table

final = [tf,theRiver]
final = pd.concat(final).reset_index().drop('index',axis=1)

deckStatistics = deckStats(deck).table
display(yourHand,final)
display(deckStatistics)

   Player Name      Suit
0       1    A  Diamonds
1       1    A     Clubs

  Name      Suit
0    3     Clubs
1   10    Spades
2    K    Hearts
3    Q    Hearts
4    8  Diamonds